:root {
    --primary-color: rgb(42, 158, 194);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline:0;

}

body {
    background: linear-gradient(90deg, rgba(16,100,194,1) 40%, rgba(10,61,118,1) 100%);
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 26px;
    text-align: center;
    color: #fff;
    margin-top:40px;
}

.logo-header{
    background-color: #167bf7;
    border-radius: 2px;
    padding: 18px;
}
.logo-header img {
   display: flex;
   height:36px;
}

.container {
    display:flex;
    justify-content:center;
    max-width: 440px;
    margin: 20px auto;
    padding: 20px;
    /* background: rgb(224, 21, 21); */
    border-radius: 8px;
    
}

.box-dolar {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0px 5px;
    padding: 7px 60px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}

.box-dolar input, button {
    margin-bottom: 10px;
    font-size:18px;
}

.box-dolar h2 {
    font-size:26px;
    font-weight: 700;
    margin-top: 20px;
}

.box-dolar h3 {
    font-size:22px;
    font-weight: 200;
    margin: 10px
}

.box-dolar span {
    font-weight: 700;

}

.box-dolar i {
    color: red;
    padding: 0 10px;

}

label {
    font-size:18px;
    margin-bottom: 15px;

}

input {
    
    padding: 6px 10px;

    border: 1px solid rgb(216, 216, 216);
    border-radius: 8px
}

input:focus {
    border: 1px solid #29a802;

}


button {
    border: none;
    background: #29a802;
    color: #fff;
    padding: 10px 28px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover {
    background: #1e7c01;
}

#converted-value{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px 0px;
    font-size:24px;
}

